*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins-Regular;
  line-height: 1.4;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins-Italic;
  src: url("../fonts/Poppins-Italic.ttf");
}

:root {
  --primary-color:rgb(78,78,214);
  --secondary-color:#e81500;
  --large-text:2.5rem;
  --medium-text:2rem;
  --small-text:1.8rem;
}

.login-form-container {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-form-container .login-form {
  width: 35rem;
  height: 60rem;
  margin-top: 5rem;
  padding: 5rem 2rem;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

.login-form-container .login-form .login-header h1 {
  font-size: var(--large-text);
}

.login-form-container .login-form .login-main {
  margin: 5rem 0;
}

.login-form-container .login-form .login-main input[type="email"], .login-form-container .login-form .login-main input[type="password"] {
  width: 100%;
  height: 4rem;
  font-size: var(--medium-text);
  margin-bottom: 2rem;
  border: none;
  border-bottom: 0.15rem solid grey;
  outline: none;
}

.login-form-container .login-form .login-main input[type="email"]:hover, .login-form-container .login-form .login-main input[type="email"]:focus, .login-form-container .login-form .login-main input[type="password"]:hover, .login-form-container .login-form .login-main input[type="password"]:focus {
  border-color: var(--primary-color);
}

.login-form-container .login-form .login-footer {
  font-size: var(--small-text);
}

.login-form-container .login-form .login-footer p a {
  text-decoration: none;
  color: var(--primary-color);
}

:root {
  --primary-color:rgb(78,78,214);
  --secondary-color:#e81500;
  --large-text:2.5rem;
  --medium-text:2rem;
  --small-text:1.8rem;
}

.signup-form-container {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-form-container .signup-form {
  width: 35rem;
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

.signup-form-container .signup-form .signup-header h1 {
  font-size: var(--large-text);
}

.signup-form-container .signup-form .signup-header h2 {
  font-size: var(--medium-text);
}

.signup-form-container .signup-form .signup-header p {
  font-size: var(--small-text);
  font-family: Poppins-Italic;
  margin-top: 1rem;
}

.signup-form-container .signup-form .signup-main {
  margin: 2rem 0;
}

.signup-form-container .signup-form .signup-main input[type="text"], .signup-form-container .signup-form .signup-main input[type="email"], .signup-form-container .signup-form .signup-main input[type="password"] {
  width: 100%;
  height: 4rem;
  font-size: var(--medium-text);
  margin-bottom: 2rem;
  border: none;
  border-bottom: 0.15rem solid grey;
  outline: none;
}

.signup-form-container .signup-form .signup-main input[type="text"]:hover, .signup-form-container .signup-form .signup-main input[type="text"]:focus, .signup-form-container .signup-form .signup-main input[type="email"]:hover, .signup-form-container .signup-form .signup-main input[type="email"]:focus, .signup-form-container .signup-form .signup-main input[type="password"]:hover, .signup-form-container .signup-form .signup-main input[type="password"]:focus {
  border-color: var(--primary-color);
}

.signup-form-container .signup-form .signup-footer {
  font-size: var(--small-text);
}

.signup-form-container .signup-form .signup-footer p a {
  text-decoration: none;
  color: var(--primary-color);
}

main.dashboard {
  padding: 2rem 5rem;
}

main.dashboard h2 {
  font-size: var(--large-text);
}

main.dashboard .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.dashboard .container .heading {
  font-size: var(--medium-text);
  margin: 0.5rem 0;
}

main.dashboard .container .row-one, main.dashboard .container .row-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0;
}

main.dashboard .container .row-one .item, main.dashboard .container .row-two .item {
  width: 19rem;
  height: 14rem;
  margin: 1rem 2rem;
  padding: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
}

main.dashboard .container .row-one .item h3, main.dashboard .container .row-two .item h3 {
  font-size: var(--medium-text);
}

main.dashboard .container .row-one .item p, main.dashboard .container .row-two .item p {
  font-size: calc(var(--large-text) + 1rem);
  font-family: Poppins-SemiBold;
  margin-top: 0.5rem;
}

main.dashboard .container .row-one {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.dashboard .container .row-two {
  margin-left: 7rem;
}

main.details {
  padding: 2rem 3rem;
}

main.details .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.details .header a {
  text-align: center;
  text-decoration: none;
  line-height: 5rem;
}

main.details form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.details form input[type="search"] {
  border: 0.1rem solid var(--primary-color);
  border-radius: 2rem;
  outline: none;
  padding: 0 1rem;
  width: 25rem;
  font-size: var(--medium-text);
  height: 4rem;
}

main.details table {
  margin-top: 2rem;
  width: 100%;
}

main.details table tr:hover {
  background-color: #f5f5f5;
}

main.details table tr:hover td.buttons-container {
  visibility: visible;
}

main.details table thead th {
  font-size: var(--medium-text);
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 0;
}

main.details table tbody td {
  text-align: center;
  font-size: var(--small-text);
  border-bottom: 0.1rem solid #ddd;
  padding: 1rem 0;
}

main.details table tbody td a {
  text-decoration: none;
  color: black;
}

main.details table tbody td.buttons-container {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.details table tbody td.buttons-container button {
  background: none;
  border: none;
  outline: none;
  margin: 0 0.5rem;
  cursor: pointer;
}

main.details table tbody td.buttons-container img {
  width: 2.5rem;
  height: 2.5rem;
}

section.add-record {
  position: relative;
  padding: 2rem 5rem;
}

section.add-record h2 {
  font-size: var(--large-text);
}

section.add-record p {
  font-size: var(--small-text);
  font-family: Poppins-Italic;
}

section.add-record form {
  width: 60%;
  margin: 2rem auto;
}

section.add-record form .form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.add-record form .form-control:nth-child(1) {
  margin-bottom: 1.5rem;
}

section.add-record form input[type="text"], section.add-record form input[type="email"], section.add-record form input[type="password"] {
  height: 4rem;
  font-size: var(--medium-text);
  margin: 0 1rem 2rem 0;
  border: none;
  border-bottom: 0.15rem solid grey;
  outline: none;
}

section.add-record form input[type="text"]:hover, section.add-record form input[type="text"]:focus, section.add-record form input[type="email"]:hover, section.add-record form input[type="email"]:focus, section.add-record form input[type="password"]:hover, section.add-record form input[type="password"]:focus {
  border-color: var(--primary-color);
}

section.add-record form .dateOfBirth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.add-record form label {
  margin-right: 2rem;
  font-size: var(--small-text);
}

section.add-record form option, section.add-record form select {
  font-size: var(--small-text);
}

section.add-record img {
  display: none;
  position: absolute;
  right: 5rem;
  top: 4rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

:root {
  --primary-color:rgb(78,78,214);
  --secondary-color:#e81500;
  --large-text:2.5rem;
  --medium-text:2rem;
  --small-text:1.8rem;
}

header {
  width: 100vw;
  height: 10vh;
  background-color: var(--primary-color);
}

header nav {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4rem;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

header nav ul li {
  margin: 0 2rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: var(--medium-text);
}

header nav ul li:nth-child(1) a {
  font-size: 3rem;
  font-family: Poppins-Bold;
  letter-spacing: 0.3rem;
}

footer {
  position: relative;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 20rem;
  padding: 4rem 1rem 0 1rem;
  margin-top: auto;
  color: white;
  background-color: var(--primary-color);
}

.our-details {
  font-size: var(--medium-text);
}

.our-contact-information {
  font-size: var(--small-text);
  line-height: 1.7;
}

.our-contact-information ul {
  list-style-type: none;
}

.our-contact-information ul li {
  margin: 0.5rem 0;
}

.links ul {
  list-style-type: none;
}

.links ul li {
  margin: 0.5rem 0;
}

.links a {
  color: white;
  font-size: var(--small-text);
  text-decoration: none;
}

.social-medias ul {
  list-style-type: none;
}

.social-medias li {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  line-height: 2;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.social-medias li:nth-child(1) {
  background-color: #3b5999;
}

.social-medias li:nth-child(2) {
  background-color: #0077b5;
}

.social-medias li:nth-child(3) {
  background-color: #e4405f;
}

.social-medias a {
  color: white;
}

@media only screen and (max-width: 500px) {
  footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .links {
    display: none;
  }
  .our-contact-information {
    padding: 0 1.5rem;
  }
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
}

.btn {
  display: block;
  height: 5rem;
  font-size: var(--medium-text);
  border-radius: 4rem;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.btn:hover {
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
}

.btn-login, .btn-signup {
  width: 25rem;
  background-color: var(--primary-color);
}

.btn-logout {
  width: 13rem;
  margin: 0;
  height: 4.4rem;
  background-color: var(--secondary-color);
}

.btn-search {
  width: 10.5rem;
  margin: 0 0.5rem;
  height: 4.4rem;
  background-color: var(--primary-color);
}

.btn-add-record {
  background-color: var(--primary-color);
  width: 18rem;
}

.btn-center {
  margin: 3rem auto 0 auto;
}

.active {
  color: red;
}

input.invalid {
  border-color: red !important;
}

.no-data-warning {
  color: red;
  font-size: var(--large-text);
  text-align: center;
  font-family: Poppins-Italic;
  letter-spacing: 0.2rem;
}
/*# sourceMappingURL=main.css.map */