<footer>
    <% if(errMessage.length>0){ %>
        <div class="alert-container">
            <% errMessage.forEach(element=>{ %>
                <div class="alert">
                    <p class="message">
                        <%= element %>
                    </p>
                    <button class="close-btn" onclick="this.parentNode.style.display='none'">
                        X
                    </button>
                </div>

                <%})%>
        </div>
        <% } %>
    <!-- our Details -->
    <div class="our-details">
        <p>Hamro Blood Bank</p>
        <p>Kathmandu,Nepal</p>
    </div>
    <!-- our Contact Information -->
    <div class="our-contact-information">
        <ul>
            <li>Fax:11111 </li>
            <li>Tel:123456789 </li>
            <li>info@hamrobloodbank.com.np </li>
            <li>Regd No: 64426/066/067 </li>
        </ul>
    </div>
    <!-- Links -->
    <div class="links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/details">Details</a></li>
            <li><a href="/manage">Manage</a></li>
        </ul>
    </div>
    <!-- Social Medias -->
    <div class="social-medias">
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f" title="Facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in" title="Linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram" title="Instagram"></i></a></li>
        </ul>

    </div>

</footer>