<header>
    <nav>
        <ul>
            <li><a href="/" title="Hamro Blood Bank">HBB</a></li>
            <li><a class="<% if(path==='/details') { %>active <% }else{ %> ' ' <%}%>" href="/details">Details</a></li>
            <li><a class="<% if(path==='/manage') { %>active <% }else{ %> ' ' <%}%>" href="/manage">Manage</a></li>
        </ul>
        <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn btn-logout">Log Out</button>
        </form>
    </nav>
</header>